<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Edición de Usuario</h2>
            <button class="close" type="button" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> 
        </div>
        <div class="modal-body">

            <form action="{% url 'edit_empleado' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Rut Empleado:</label>
                    <input type="text" name="id_usu" value="{{ empleado.id_usuario.id_usuario }}" hidden>
                    <input type="text" name="rut_emp" id="" value="{{ empleado.rut_emp }}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Nombres:</label>
                    <input type="text" name="nombres_emp" id="" value="{{ empleado.nombres }}" class="form-control" required>
                </div>
                <div class="form-group" id="">
                    <label>Apellidos:</label>
                    <input type="text" name="apellidos_emp" id="" value="{{ empleado.apellidos }}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Nombre de Usuario:</label>
                    <input type="text" value="{{ usuarioOra.username }}" name="username_emp" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Cargo:</label>
                    <select name="cargo_emp" id="selectCargo" class="form-control">
                        <option value="{{empleado.id_cargo}}" selected disabled>{{empleado.id_cargo.descripcion}}</option>
                        {% for c in cargo %}
                        <option value="{{c.id_cargo}}">{{c.descripcion}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" type="submit" id="guardar">Confirmar</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>


