{% extends 'core/Base.html' %}

{% load static %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function()
    {
        var $select1=$('#Sefamilia'),
            $select2=$('#Setipo'),
            $options=$select2.find('option');
            $select1.on('change', function()
            {
                $select2.html($options.filter('[value="'+this.value+'"]'));
            }).trigger('change');
    });
</script>



{% endblock %}

{% block Contenido %}

<div class="container">
    <div class="navbar-brand bg-light d-flex">
        <div class="pl-4">Nuevo Producto:</div>
        <div class="ml-auto"><i class="fas fa-2x fa-pen-square text-dark" style="opacity: 0.5;"></i></div>
    </div>

    <div class="container p-4">
        <form action="{% url 'actualizar-datos' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Titulo:</label>
                <input type="text" name="titulo" id="" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Precio:</label>
                <input type="text" name="precio" id="" class="form-control" required>
            </div>
            <div class="form-group" id="divApellido">
                <label>Stock:</label>
                <input type="text" name="stock" id="" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Stock Critico:</label>
                <input type="number" name="critico" id="" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Fecha de vencimiento:</label>
                <input type="date" name="vencimiento" id="" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Proveedor:</label>
                <select name="Tipo" id="" class="form-control">
                    {% for p in proveedor %}
                    <option value="{{p.id_usuario}}">{{p.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Familia producto:</label>
                <select name="Familia" id="Sefamilia" class="form-control">
                    {% for f in familia %}
                    <option value="{{f.id_familia}}">{{f.descripcion}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Tipo producto:</label>
                <select name="Tipo" id="Setipo" class="form-control">
                    {% for t in tipo %}
                    <option value="{{t.id_tipo}}">{{t.descripcion}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Foto Producto:</label>
                <input type="file" name="imagen" id="" class="form-control" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" id="guardar">Guardar Mis Cambios</button>
        </form>
    </div>
</div>

{% endblock %}