{% extends 'core/Base.html' %}

{% load static %}


{% block titulo %}
<title>Mi Cuenta</title>


{% endblock %}

{% block link %}
    {% block link_cuenta %}

    {% endblock %}
{% endblock %}

{% block javascript %}
    {% block javascript_cuenta %}

    {% endblock %}
{% endblock %}


{% block Contenido %}

<ul class="nav justify-content-center bg-light container-fluid">
    <li class="nav-item">
      <a class="nav-link text-dark" href="{% url 'micuenta' %}"><dt>Datos Personales</dt></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><dt>Solicitudes</dt></a>
    </li>
</ul>

<div class="container pt-4" style="min-height: 100vh;">
    {% block Contenido_cuenta %}
                        
    {% endblock %}
</div>

{% endblock %}