{% extends 'core/Base.html' %}

{% load static %}


{% block titulo %}
<title>Mi Cuenta</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'core/css/SideBar.css' %}">
    {% block link_cuenta %}

    {% endblock %}
{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/sidebar.js' %}"></script>
    {% block javascript_cuenta %}
        
    {% endblock %}
{% endblock %}


{% block Contenido %}

<div class="container-fluid pl-0">
    <div class="d-flex">
        <div class="wrapper01">

            <nav id="sidebar" class="bg-dark">

                <div class="sidebar-header text-center">
                    <div class="pb-2">
                        <i class="fas fa-3x fa-user-circle"></i>
                    </div>
                    <h3>Mi Cuenta</h3>
                </div>
                <ul class="lisst-unstyled components">
                    <p class="pb-4 text-center">Bienvenido: {{user.username}}</p>

                    <li class="pt-4">
                        <a class="text-white" href="{% url 'micuenta' %}" , "Producto" )">Datos Personales</a>
                    </li>
                    <li>
                        <a class="text-white" href="#" , "Producto" )">Gestión de Compras</a>
                    </li>
                </ul>
            </nav>
            <!--toggle-->
            <div class="p-1 rounded-circle">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
            <!--toggle-->

            <div id="content" class="container-fluid">
                {% block Contenido_cuenta %}
                
                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}