{% extends 'core/Base.html' %}

{% load static %}

{% block Contenido %}

<!--Banner-->
<img src="{% static 'core/img/Banner.jpg' %}" class="img-fluid"
alt="banner ferme">
<!--fin Banner-->


<!--seccion 1-->
<!--seccion 1-->
<!--seccion 1-->
<div class="container mt-3">
<div class="container d-lg-flex">
  <div class="ml-2 col-lg-3 col-md-12 col-sm-12 bg-secondary d-flex align-items-center">

    <div style="position: relative; display: inline-block; text-align: center;">
      <img
        src="https://images.contentstack.io/v3/assets/blta0a3b70f2f9b36ba/blt88da569b06b31786/606684e8560dc1104de888bb/bc-desk-02.jpg?auto=webp&disable=upscale&quality=70&width=1280"
        class="img-fluid" alt="">
      <a style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);"
        class="text-light btn bg-info" href="#">Ver Mâs</a>

    </div>

  </div>
  <div class="col-lg-9 justify-content-center">
    <div>
      <h1>Inspirate</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolores.</p>
    </div>
    <div class="d-lg-flex">
      <div class="">
        <div class="card">
          <img class="card-img-top"
            src="https://media.easy.cl/is/image/EasySA/1061505-02?height=320&width=400&format=jpg&ver=1616677318740"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <p class="card-text">Valor: $000000</p>
          </div>
        </div>
      </div>

      <div class="">
        <div class="card">
          <img class="card-img-top"
            src="https://media.easy.cl/is/image/EasySA/1061505-02?height=320&width=400&format=jpg&ver=1616677318740"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <p class="card-text">Valor: $000000</p>
          </div>
        </div>
      </div>

      <div class="">
        <div class="card">
          <img class="card-img-top"
            src="https://media.easy.cl/is/image/EasySA/1061505-02?height=320&width=400&format=jpg&ver=1616677318740"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <p class="card-text">Valor: $000000</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</div>
<!-- fin seccion 1-->
<!--fin seccion 1-->
<!--fin seccion 1-->

<!--seccion 2-->
<!--seccion 2-->
<!--seccion 2-->
<div class="container mt-3">
<div class="container d-lg-flex">

  <div class="col-lg-9 justify-content-center">
    <div class="text-right">
      <h1>Inspirate</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, dolores.</p>
    </div>
    <div class="d-lg-flex">
      <div class="">
        <div class="card">
          <img class="card-img-top"
            src="https://media.easy.cl/is/image/EasySA/1061505-02?height=320&width=400&format=jpg&ver=1616677318740"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <p class="card-text">Valor: $000000</p>
          </div>
        </div>
      </div>

      <div class="">
        <div class="card">
          <img class="card-img-top"
            src="https://media.easy.cl/is/image/EasySA/1061505-02?height=320&width=400&format=jpg&ver=1616677318740"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <p class="card-text">Valor: $000000</p>
          </div>
        </div>
      </div>

      <div class="">
        <div class="card">
          <img class="card-img-top"
            src="https://media.easy.cl/is/image/EasySA/1061505-02?height=320&width=400&format=jpg&ver=1616677318740"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Lorem ipsum dolor sit amet.</p>
            <p class="card-text">Valor: $000000</p>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="ml-2 col-lg-3 col-md-12 col-sm-12 bg-secondary d-flex align-items-center">

    <div style="position: relative; display: inline-block;">
      <img
        src="https://images.contentstack.io/v3/assets/blta0a3b70f2f9b36ba/blt88da569b06b31786/606684e8560dc1104de888bb/bc-desk-02.jpg?auto=webp&disable=upscale&quality=70&width=1280"
        class="img-fluid" alt="">
      <a style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);"
        class="text-light btn bg-info" href="#">Ver Mâs</a>

    </div>

  </div>
</div>
</div>
<!-- fin seccion 2-->
<!--fin seccion 2-->
<!--fin seccion 2-->


<!--seccion 3-->
<!--seccion 3-->
<!--seccion 3-->
<div class="container mt-3 ">
<div class="text-center">
  <h3>Categorias Destacadas</h3>
</div>
<div class="d-lg-flex">
  <div class="col-lg-3 col-md-12 col-sm-12 text-center rounded m-1 p-0">
    <b>
      <a class="btn-block bg-warning rounded" type="button">
        <i class="fas fa-wrench"></i>
        <br>
        HERRAMIENTAS
      </a>
    </b>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 text-center rounded m-1 p-0">
    <b>
      <a class="btn-block bg-warning rounded" type="button">
        <i class="fas fa-home"></i>
        <br>
        CONSTRUCCIÓN
      </a>
    </b>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 text-center rounded m-1 p-0">
    <b>
      <a class="btn-block bg-warning rounded" type="button">
        <i class="fas fa-lightbulb"></i>
        <br>
        ILUMINACIÓN
      </a>
    </b>
  </div>
  <div class="col-lg-3 col-md-12 col-sm-12 text-center rounded m-1 p-0">
    <b>
      <a class="btn-block bg-warning rounded" type="button">
        <i class="fas fa-th-large"></i>
        <br>
        BALDOZAS
      </a>
    </b>
  </div>
</div>
</div>
<!--fin seccion 3-->
<!--fin seccion 3-->
<!--fin seccion 3-->

{% endblock %}